.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.phpcs.xml.dist export-ignore
.postcssrc.json export-ignore
.prettierignore export-ignore
AGENTS.md export-ignore
examples export-ignore
package.json export-ignore
pnpm-lock.yaml export-ignore
pnpm-workspace.yaml export-ignore
resources export-ignore
vite.config.mjs export-ignore
