body #dashboard-widgets .postbox form .submit {
	margin-top: 15px;
	display: flex;
	gap: 15px;
}

.widgetizer-field {
	margin-bottom: 10px;
}

.widgetizer-field-label {
	font-weight: 600;
	display: block;
	margin-bottom: 4px;
}

.widgetizer-field-layout-inline {
	.widgetizer-field-label {
		display: inline-block;
		margin-right: 5px;
	}
}

.widgetizer-field-type-sortable {
	.sortable-ghost {
		background-color: #c8ebfb !important;
	}

	ul.sortable {
		cursor: default;
		margin: 0;

		.dashicons-visibility {
			cursor: pointer;
		}

		li {
			padding: 5px 10px;
			border: 1px solid #333;
			background-color: #fff;
			cursor: move;
			max-width: 200px;

			.dashicons.dashicons-menu {
				float: right;
			}

			.dashicons.visibility {
				margin-right: 10px;
			}

			&.invisible {
				color: #aaa;
				border: 1px dashed #aaa;

				.dashicons.visibility {
					color: #aaa;
				}
			}
		}
	}
}

.widgetizer-field-type-radio {
	input[type="radio"] {
		margin: 0 0.25rem 0 0;
	}

	.layout-horizontal {
		display: flex;
	}

	.radio-list {
		margin: 0;
		padding: 0;

		li {
			margin-right: 10px;
		}
	}
}

.widgetizer-field-refs {
	ul {
		display: flex;
		gap: 10px;
		margin: 8px 0 0 0;
	}
}

.widgetizer-field-type-radioimage {
	.radio-images {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
		margin: 0;
		padding: 0;

		li {
			margin-right: 5px;
		}

		input[type="radio"] {
			clip: rect(1px, 1px, 1px, 1px);
			height: 1px;
			overflow: hidden;
			position: absolute !important;
			width: 1px;
		}

		img {
			box-sizing: border-box;
			max-width: 100%;
			height: auto;
			padding: 1px;
			border: 3px solid transparent;

			&:hover,
			&:focus {
				border-color: #ccc;
			}
		}

		input:checked + img {
			border-color: #2271b1;
		}

		&.layout-horizontal {
			flex-direction: row;
			justify-content: start;
		}
	}
}

.widgetizer-field-type-buttonset {
	input[type="radio"] {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		width: 1px;
	}

	.buttonset {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;

		.switch-label {
			display: inline-block;
			border: 1px solid #7e8993;
			padding: 5px 10px;
			background-color: #fff;
			z-index: 1;
			margin: 0 0 0 -1px;
		}

		.switch-label:first-of-type {
			border-radius: 3px 0 0 3px;
		}

		.switch-label:last-child {
			border-radius: 0 3px 3px 0;
		}

		.switch-input {
			&:checked {
				+ .switch-label {
					border-color: #7e8993;
					background: var(--widgetizer-color-primary);
					color: #fff;
					z-index: 2;
				}
			}
		}
	}
}
